*.iml
.gradle/
/local.properties
local.properties
.DS_Store
/build
app/build/
/captures
.externalNativeBuild
.cxx

# IntelliJ / Android Studio
.idea/
*.iws
*.ipr

# Log files
*.log

# Keystore
*.jks
*.keystore
